<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'regist' %}" method="POST">
        {# 加上csrf_token防止跨站请求攻击 #}
        {% csrf_token %}
        {% for item in form %}
{#             for属性规定label标签绑定的表单元素#}
            <div>
            <label for="{{ item.id_for_label }}">
                {{ item.label }}
            </label>
                {{ item }}
{#                 将每一个循环中的错误作为文本展示 #}
                <p>{{ item.errors.as_text }}</p>
            </div>
        {% endfor %}
        <span>{{ form.non_field_errors.as_text }}</span><br/>

        <input type="submit" value="提交">
    </form>
</body>
</html>