<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Five</title>
</head>
<body>
<form action="{% url 'lessonfive' %}" method="POST">
    {% csrf_token %}
    {% for item in form %}
        <div>
            <label for="{{ item.id_for_label }}">
                {{ item.label }}
            </label>
            {{ item }}
        </div>
        <p>{{ item.errors.as_text }}</p>
    {% endfor %}
    {# 整体的错误信息要放到循环外面，并下hi用下面的格式进行渲染 #}
    <span>{{ form.non_field_errors }}</span>
    <input type="submit" value="提交"/>
    <a href="{% url 'logout' %}">退出登录</a>
</form>
</body>
</html>